
Pipe networks
Network nodes
Energy
Direction / flow
Node connections
Energy modifiers (pumps)
Network changes (place/break nodes)

Network manager (list of networks)



If a pipe segment is placed, it should look at the connection faces to check for existing nodes, that could connect to the new segment.
For each face;
    If the face is a connectable node,
        If the segment is not yet in a network, 
            add segment to the network.
        else if the network is not the current network,
            merge network with current network.
        end
    end
end

If a pipe segment is removed, remove segment from current network and world
Remember network ID
For each face;
    If face is a node and is connectable (must have been connected),
        
        If current network is same as face network and have remembered nodes,
            if that node is not retraceable to remembered node of same network,
                Make new network with that node (existing network will automatically lose members?).
            end 
        else 
            # different network, or we don't remember any networks yet.
            # just remember that we've seen this node.
        end
    

        Remember node.
    end
end



    





